.login {
  width: 100%;
  min-height: 100vh;
  background: #093545;
  display: flex;
  justify-content: center;
  align-items: center;
  .login__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
      font-weight: 400;
      font-size: 64px;
      line-height: 80px;
      color: #ffffff;
      margin-bottom: 20px;
    }
    input {
      margin-top: 32px;
    }
    .link {
      margin-top: 23px;
      width: 100%;
      display: flex;
      justify-content: center;
      span {
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: #aaa;
        margin-right: 10px;
      }
      a {
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;
        color: #ffffff;
        text-decoration: none;
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    p {
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      max-width: 300px;
    }
    .error {
      color: #dd2626;
    }
    .loading {
      color: #287ff1;
    }
    .success {
      color: #0bc136;
    }
    button {
      margin-top: 24px;
    }
  }
}
